.box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  height: 267px;
  .bd {
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: row;
    opacity: 1;
    width: 171px;
    height: 171px;
    .layer {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 171px;
      height: 171px;
      overflow: hidden;
    }
    .bg {
      position: absolute;
      top: 0px;
      left: 0px;
      opacity: 1;
      width: 171px;
      height: 171px;
    }
    .wrap {
      box-sizing: border-box;
      display: flex;
      position: relative;
      align-items: center;
      flex-direction: row;
      margin-top: 9px;
      margin-left: 9px;
      border-radius: 7.5px;
      background-color: rgba(0, 0, 0, 0.4);
      padding-right: 4.5px;
      padding-left: 5px;
      height: 15px;
      .riverdinwei {
        opacity: 1;
        width: 7px;
        height: 9px;
      }
      .distance {
        margin-left: 2px;
        height: 11px;
        font-weight: 400;
        font-size: 9px;
        color: #ffffff;
        line-height: 11px;
        white-space: nowrap;
      }
    }
  }
  .main {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    background-color: #ffffff;
    width: 171px;
    height: 57px;
    .title {
      margin-top: 11px;
      width: 150px;
      height: 44px;
      font-weight: 400;
      font-size: 15px;
      color: #333333;
      line-height: 22px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .ft {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #ffffff;
    padding-right: 8.5px;
    padding-left: 9px;
    width: 171px;
    height: 39px;
    overflow: hidden;
    .block {
      display: flex;
      align-items: center;
      flex-direction: row;
      height: 15px;
      .xianjin {
        width: 15px;
        height: 15px;
      }
      .fashionHome {
        margin-left: 3px;
        height: 14px;
        font-weight: 300;
        font-size: 12px;
        color: #666666;
        line-height: 14px;
        white-space: nowrap;
      }
    }
    .group {
      display: flex;
      align-items: center;
      flex-direction: row;
      height: 15px;
      .favorite {
        width: 11px;
        height: 11px;
      }
      .num {
        margin-left: 2.5px;
        height: 13px;
        font-weight: 400;
        font-size: 11px;
        color: #999999;
        line-height: 13px;
        white-space: nowrap;
      }
    }
  }
}
